.iconturmardel {
  margin-right: 30px;
  height: 100px;
}

#navbar {
  background-color: #FBF0B3;
}

.reservas {
  background-color: orange;
  border-radius: 20px;
}

nav li {
  font-size: 20px;
}

.text-width {
  max-width: 1100px !important;
}

footer {
  background-color: #B3D0E1;
  margin-top: 70px;
}
.redes ul{
  display: flex;
  justify-content: center;
  margin-bottom: 35px ;
  padding-top: 35px;
}
.redes ul li{
  list-style-type: none;
  margin: 0 20px ;
  font-size: 25px;
}
.redes ul li a{
  color: black;
  transition: all .3s ease;
}
.redes ul li a:hover{
  color: rgb(66, 66, 66);
  transition: all .3s ease;
}
.nosotros div{
  margin: 50px 0;
}